{% extends "::base.html.twig" %}

{% block seo_head %}
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
{% endblock %}

{% block body -%}
    <h1>{{ cmfMainContent.title }}</h1>

    {{ cmfMainContent.body|raw }}
{%- endblock %}
