<h1>Exception-Test</h1>

<div>
    <strong>{{ status_code }}</strong> {{ status_text }} - {{ message }} - {{ exception.class|abbr_class }}
</div>
<div>
    <ul>
        {% for group, matchs in best_matches %}
                {% for match in matchs %}
                    <li>{{ group }} - {{ match.name }}</li>
                {% endfor %}
        {% endfor %}
    </ul>
</div>
